#!/usr/sbin/nft -f

define PROXY_SIP = {
   __proxy_source_ips__
}

define FAKE_DIP = {
    198.18.0.0/16
}

table ip __table_name__ {
    chain prerouting {
        type filter hook prerouting priority mangle; policy accept;
        ip saddr != $PROXY_SIP return
        tcp dport 53 tproxy to __xray_dns_address__ meta mark set 1
        udp dport 53 tproxy to __xray_dns_address__ meta mark set 1
        ip daddr $FAKE_DIP ip protocol tcp tproxy to __xray_tproxy_address__ meta mark set 1
        ip daddr $FAKE_DIP ip protocol udp tproxy to __xray_tproxy_address__ meta mark set 1
    }
}
