#!/usr/sbin/nft -f

define PROXY_SIP = {
   __proxy_ip__
}

define DIRECT_DIP = {
    # local ip
    10.0.0.0/8,
    100.64.0.0/10,
    127.0.0.0/8,
    169.254.0.0/16,
    172.16.0.0/12,
    192.0.0.0/24,
    192.168.0.0/16,
    224.0.0.0/4,
    240.0.0.0/4,
    255.255.255.255/32
}

set geoip4 {
    type ipv4_addr
    flags interval
    elements = {
    }
}

table ip xray {
#    include "./geoip-ipv4-set.nft"
    chain prerouting {
        type filter hook prerouting priority mangle; policy accept;
        ip saddr != $PROXY_SIP return
        ip daddr $DIRECT_IP return
        ip daddr @geoip4 return
#        ip saddr 192.168.226.0/8 udp dport 53 return
        ip protocol tcp tproxy to 127.0.0.1:1085 meta mark set 1
#        ip protocol udp tproxy to 127.0.0.1:1085 meta mark set 1
    }
}